---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// variables
$base-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Calibri', Arial, sans-serif;
$base-font-weight: 400;
$base-bold-font-weight: 700;

$monospace-font-family: 'Courier New', monospace;
$monospace-font-weight: 400;

$header-font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Calibri', Arial, sans-serif;
$header-font-weight: 800;

$site-nav-font-family: $header-font-family;
$site-nav-font-weight: 700;

// skeleton css base
@import 'vendors/skeleton';

// local imports
@import 'lists';
@import 'menus';
@import 'syntax-highlighting';

// colors
$c-white: #FFFFFF;
$c-black: #000000;

// grey
$c-grey: #EEEEEE;
$c-grey-light: #FAFAFA;
$c-grey-dark: #212121;

// deep orange primary
$c-primary: #FF5722;
$c-primary-light: #FF7043;
$c-primary-dark: #BF360C;

// green accent
$c-accent: #00E676;
$c-accent-light: #69F0AE;
$c-accent-dark: #00C853;

// text 
$c-text-light-on-dark-primary: rgba(255,255,255,1);
$c-text-light-on-dark-secondary: rgba(255,255,255,0.7);
$c-text-light-on-dark-hint: rgba(255,255,255,0.3);

$c-text-dark-on-light-primary: rgba(0,0,0,0.87);
$c-text-dark-on-light-secondary: rgba(0,0,0,0.54);
$c-text-dark-on-light-hint: rgba(0,0,0,0.26);

// layout
body {
    margin: 0;
}
.container {
    // max-width: 800px;
}
.page-content {
    padding: 48px 0 55px 0;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .post {
        max-width: 800px;
        margin: 0 auto;
    }
}
.page-footer {
    padding: 48px 0 55px 0;
}
.page-header {
    padding: 38px 0 35px 0;
}

// Typography
body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: 1.8em;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    text-transform: uppercase;
}
.site-nav {
    font-family: $site-nav-font-family;
    font-weight: $site-nav-font-weight;
}
code, kbd, samp , pre, xmp, plaintext, listing {
    font-family: $monospace-font-family;
}


// base-colors
body {
    background-color: $c-grey;
}
a {
    color: $c-primary;
    &:hover {
        color: $c-primary-dark;
    }
}
.page-header {
    background-color: $c-grey-dark;
    color: $c-text-light-on-dark-primary;
    a {
        color: $c-primary-light;
    }
}
.page-content {
    background-color: $c-grey-light;
    color: $c-text-dark-on-light-primary;
    h1, h2, h3, h4, h5 {
        color: $c-text-dark-on-light-secondary;
        font-weight: 200;
    }
    a {
        color: $c-primary-dark;
        &:hover {
            color: $c-primary;
        }
    }

    &.alt {
        background-color: $c-grey-dark;
        color: $c-text-light-on-dark-primary;
        h1, h2, h3, h4, h5 {
            color: $c-text-light-on-dark-secondary;
        }
        a {
            color: $c-primary-light;
            &:hover {
                color: $c-primary;
            }
        }
    }
}
.page-footer {
    background-color: $c-grey;
    color: $c-text-dark-on-light-primary;
    a {
        color: $c-primary-dark;
        &:hover {
            color: $c-primary;
        }
    }
}


// big image index page

.hero {
    background-color:  $c-black; 
    background-repeat:  no-repeat; 
    background-position:  center center; 
    // background-attachment:  fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-image: url(/img/pier-bg/pier-bg-570x360.jpg); 

    /* Larger than mobile */
    @media (min-width: 400px) {
        background-image: url(/img/pier-bg/pier-bg-570x360.jpg); 
        min-height: 372px;
        padding-bottom: 25px;
    }

    /* Larger than phablet */
    @media (min-width: 550px) {
        background-image: url(/img/pier-bg/pier-bg-800x600.jpg); 
        min-height: 550px;
        padding-bottom: 0;
    }

    /* Larger than tablet */
    @media (min-width: 750px) {
        background-image: url(/img/pier-bg/pier-bg-1024x600.jpg); 
        min-height: 650px;
    }

    /* Larger than desktop */
    @media (min-width: 1000px) {
        background-image: url(/img/pier-bg/pier-bg-1280x600.jpg); 
        min-height: 650px;
    }

    /* Larger than Desktop HD */
    @media (min-width: 1200px) {
        background-image: url(/img/pier-bg/pier-bg-1920x600.jpg); 
        min-height: 650px;
    }

    .topline {
        // min-height: 40px;
        // background: rgba(0,0,0,0.3);
    }

    .site-nav {
        line-height: 40px;
        a {
            font-weight: 700;
            text-transform: uppercase;
            color: $c-accent-light;
            &:hover {
                color: $c-accent;
            }

            /* Larger than phablet */
            @media (min-width: 550px) {
                font-size: 1.1em;
            }
        }

        text-align: center;

        /* Larger than phablet */
        @media (min-width: 550px) {
            float: right;
        }
    }
    .title-wrapper {
        // background-color: rgba(0,0,0,0.45);
        padding: 10px 0;

        /* Larger than phablet */
        @media (min-width: 550px) {
            margin: 60px 25px 0;
        }
    }
    .title {
        text-align: center;

        h1 {
            font-weight: 900;
            margin-bottom: 0;

            /* Larger than phablet */
            @media (min-width: 550px) {
                font-size: 4.4em;
                margin-bottom: 2rem;
            }

            padding: 0px 15px;
            a {
                color: $c-primary-light;
                &:hover {
                    color: $c-primary;
                }
                text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
                text-decoration: none;
            }

            /* Larger than mobile */
            @media (min-width: 400px) {
            }
            /* Larger than phablet */
            @media (min-width: 550px) {
                display: inline;
            }
            /* Larger than tablet */
            @media (min-width: 750px) {
            }
        }
    }
    .description {
        max-width: 30em;
        margin: 0 auto;
        padding: 10px 15px 15px 15px;
        text-align: center;

        p {
            color: #FDFDFD;
            font-size: 1em;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 0;
            text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
        }

        /* Larger than mobile */
        @media (min-width: 400px) {
        }
        /* Larger than phablet */
        @media (min-width: 550px) {
            font-size: 1.8em;
        }
        /* Larger than tablet */
        @media (min-width: 750px) {
        }
    }
    .quotes {
        margin-bottom: 10px;
        p {
            text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
        }
        @media (min-width: 1200px) {
            padding-top: 50px;
            p:nth-child(2) {
                padding-left: 280px;
            }
        }
    }

    .trailer {
        display: flex;
        height: 100%;

        align-items: center;
        justify-content: center;
        img {
            width: 90%;
            max-width: 651px;
            min-height: 200px;
        }
        padding-bottom: 15px;

        /* Larger than tablet */
        @media (min-width: 750px) {
            min-height: 600px;
            padding-bottom: 0;
        }
    }
}

.facebook {
    .fb-page, 
    .fb-page span, 
    .fb-page span iframe[style] { 
        width: 100% !important; 
    }
    .facebook-like {
        width: 100% !important; 
        overflow: hidden;
    }
}

.quotes {
    color: $c-text-light-on-dark-primary;

    font-family: "Roboto Slab";
    font-weight: 300;

    @media (min-width: 750px) {
        padding-top: 40px;
    }
    .author {
        font-size: 0.8em;
        font-weight: 100;
    }
    strong {
        font-size: 1.2em;
        font-weight: 400;
    }
    p {
        max-width: 20em;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 80%;
        @media (min-width: 750px) {
            font-size: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.story {
    p {
        font-weight: 300;
        font-style: italic
    }
    p.intro {
        font-weight: 400;
    }
}
.amazon {
    iframe {
        margin: 0 auto;
        display: block;
    }
    .other-options {
        display: block;
        text-align: center;
        margin: 5px auto 10px;

        /* Larger than tablet */
        @media (min-width: 750px) {
            display: inline;
            float: right;
            margin-bottom: 0;
        }
    }
}
.paypal {

    border: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 0;
}


// header
.page-header {
    background-color:  $c-black; 
    background-repeat:  no-repeat; 
    background-position:  center center; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-image: url(/img/pier-bg/pier-bg-570x360.jpg); 

    /* Larger than mobile */
    @media (min-width: 400px) {
        background-image: url(/img/pier-bg/pier-bg-570x360.jpg); 
    }

    /* Larger than phablet */
    @media (min-width: 550px) {
        background-image: url(/img/pier-bg/pier-bg-800x600.jpg); 
    }

    /* Larger than tablet */
    @media (min-width: 750px) {
        background-image: url(/img/pier-bg/pier-bg-1024x600.jpg); 
    }

    /* Larger than desktop */
    @media (min-width: 1000px) {
        background-image: url(/img/pier-bg/pier-bg-1280x600.jpg); 
    }

    /* Larger than Desktop HD */
    @media (min-width: 1200px) {
        background-image: url(/img/pier-bg/pier-bg-1920x600.jpg); 
    }

    h1 {
        letter-spacing: 3px;
        font-size: 28px;
        text-align: center;
        a {
            color: $c-primary-light;
            text-decoration: none;
        }
        margin-bottom: 3px;
    }
    .subtitle {
        font-size: 22px;
        text-align: center;
        margin-bottom: 0;
        font-weight: 700;
    }

    .site-nav {
        margin: 8px 0 0 0;
        text-align: center;
        a {
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
            color: $c-accent;
            &:hover {
                text-decoration: underline;
            }

            font-size: 13px;
            padding-left: 3px;
            padding-right: 3px;

            /* Larger than phablet */
            @media (min-width: 550px) {
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }

        }
        li:not(:last-child) a:after {
            color: $c-accent-dark;
            content: '/';
            display: inline-block;
            font-style: normal;

            padding-left: 6px;

            /* Larger than mobile */
            @media (min-width: 400px) {
            }

            /* Larger than phablet */
            @media (min-width: 550px) {
                padding-left: 20px;
            }
        }
    }
}

// footer
.page-footer {
    .footer-heading {
        overflow: hidden;
        text-align: center;
        margin-bottom: 0;
        a {
            text-decoration: none;
            color: $c-text-dark-on-light-secondary;
            &:hover {
                color: $c-primary-light;
            }
        }
    }
    .footer-description {
        text-align: center;
        color:  $c-text-dark-on-light-secondary;
        font-weight: 700;
    }
    .columns {
        margin-bottom: 36px;
    }
    .menu {
        a {
            font-weight: 400;
            color:  $c-text-dark-on-light-primary;
            &:hover {
                color: $c-primary-light;
            }
        }
    }
    .site-nav {
        text-align: center;
        text-transform: uppercase;
        a {
        font-weight: 700;
            color:  $c-text-dark-on-light-secondary;
        }
    }
    .logo-footer {
        text-align: center;
        margin-top: 15px;
    }
}

// icons
li .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    svg {
        fill: $c-primary;
    }
}

// contact page
.adr p, p.tel, {
    margin: 0;
}
.fixed-numbers {
    font-family: sans-serif;
}
    
// post list
.post-list {
    list-style: none;
    padding-left: 0;

    .post-meta {
        font-style: italic;
        color: $c-text-dark-on-light-secondary;
    }
    h4 {
        margin-bottom: 0;
        a {
            text-decoration: none;
        }
    }
}
.rss-subscribe {
}
