<footer class="page-footer">
    <div class="container">
        <div class="row">

            <div class="six columns">
                <nav class="menu">
                    <ul class="menu-list">
                        {% if site.facebook_page %}
                            <li class="menu-item">
                                <a class="menu-link" href="https://facebook.com/{{ site.facebook_page }}">
                                    <span class="icon icon--facebook">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M26 20v-3c0-1.3.3-2 2.4-2H31v-5h-4c-5 0-7 3.3-7 7v3h-4v5h4v15h6V25h4.4l.6-5h-5z"/></svg>
                                    </span>
                                    <span class="username">facebook.com/{{ site.facebook_page }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="six columns">
                <h3 class="footer-heading"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
                <p class="footer-description">The Legend of Ganja Boxing</p>
            </div>
        </div>
        <div class="row">
            <div class="site-nav">
                <nav class="menu menu-horizontal">
                <ul class="menu-list">
                    {% for page in site.pages %}
                        {% if page.title %}
                            <li class="menu-item">
                                <a class="menu-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </nav>
            </div>

        </div>
        <div class="row logo-footer">
            <img src="/img/leaf-small-header.png" />
        </div>
    </div>
</footer>
